:root {
    --base-color: rgb(224, 220, 208);
    --red: rgb(199, 9, 9);
    --green: rgb(33, 88, 33);
    --golden: rgb(173, 131, 26);
    --black: black;
    --text-light: #ffffff; 
    background-repeat: no-repeat;
}
  
.content {
  padding-top:0px;
  margin-top:0px;
  display: flex;
  flex-direction: row; 
  justify-content: center;
  width: 80%; 
  max-width: 700px;
  padding: 10px;
  /* box-shadow: 3px 3px 3px 4px pink; */
  margin: auto;
  border-radius: 10px;
  background-color: white;
  }
